Package: com.whitetailani.retakelite
Name: retakelite
Version: 0.2.2
Architecture: iphoneos-arm
Description: Changes all of your autocorrect suggestions to "zefram"
Maintainer: WhitetailAni
Author: WhitetailAni
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 14.0)
